.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: X; /* fallback */
  max-height: X * 2; /* fallback */
}

.example-header-image {
  background-image: url("../../../../assets/trophy.png");
  background-size: cover;
}
