<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row">

            <div class="col-md-6 offset-md-3 text-center">
                <mat-card>
                    <div class="container">
                        <img class="image" src="../../../assets/quizimage.webp" alt="Quiz Image">
                    </div>
                    <!-- {{loginData | json}} -->
                    <h1>Login Here!!!</h1>
                    <form (ngSubmit)="sendLoginData()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input name="username" [(ngModel)]="loginData.username" required="true" matInput
                                placeholder="Ex: shapnesht">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input name="password" [(ngModel)]="loginData.password" required="true" matInput
                                [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="container">
                            <button mat-raised-button type="submit" color="primary" class="ml10">Submit</button>
                            <button mat-raised-button type="reset" color="warn" class="ml10">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>