<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 class="mt20">Welcome to <span class="quizzy">Quizzy</span>!!</h1>
                <div class="center">
                    <img class="homeimg mb20"  src="../../../assets/Gray and Blue Did you know.png" alt="Quizzy">
                </div>
                <button *ngIf="!login.isLoggedIn()" routerLink="login" mat-raised-button color="primary">Click Here to login</button>
                <button *ngIf="login.isLoggedIn() && login.getUserRole() =='ADMIN'" routerLink="admin" mat-raised-button color="primary">Take me to DashBoard</button>
                <button *ngIf="login.isLoggedIn() && login.getUserRole() =='NORMAL'" routerLink="user-dashboard" mat-raised-button color="primary">Take me to DashBoard</button>
            </div>
        </div>
    </div>
</div>